#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: gray;
  background-image: url("assets/images/dnd_bg.jpg");
  background-size: 100%;
}

.spell-name,
.school-name {
  cursor: pointer;
}

.spell-name:hover,
.school-name:hover {
  color: gold;
}

button {
  background-color: indianred;
  color: white;
  font-family: "Stoke", serif;
  border-style: none;
  border-bottom: 1px solid white;
}

input {
  border-radius: 10px;
}

button:hover {
  background-color: pink;
}

#site-title {
  font-family: "Stoke", serif;
  color: #ffffff;
}

nav {
  margin-top: 20px;
}

#site-logo {
  max-width: 100px;
  margin-right: 20px;
  float: left;
}

form {
  margin-top: 20px;
}

thead {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p {
  margin-bottom: 0px;
}

.spell-name {
  font-family: "Stoke", serif;
}

label {
  color: white;
  font-family: "Stoke", serif;
}

input::placeholder {
  font-family: "Stoke", serif;
}
